*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 54%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 48%; } }
  @media only screen and (max-width: 25em) {
    html {
      font-size: 42%; } }

body {
  font-size: 1.8rem;
  color: #000;
  line-height: 1.6;
  font-weight: 400;
  font-family: Poppins-Medium;
  text-transform: capitalize;
  overflow-x: hidden; }

.row {
  max-width: 114rem;
  margin: 0  auto; }
  @media only screen and (max-width: 75em) {
    .row {
      padding: 0 5rem; } }

section {
  padding: 8rem 0; }

.section-header {
  text-align: center;
  margin-bottom: 5rem; }

.heading-1 {
  font-size: 7.2rem;
  font-family: JosefinSans-Bold;
  line-height: 1.3; }
  @media only screen and (max-width: 37.5em) {
    .heading-1 {
      font-size: 6rem; } }

.heading-2 {
  font-family: JosefinSans-SemiBold;
  font-size: 4rem; }

.heading-3 {
  font-size: 2.8rem;
  font-family: "cookis";
  color: #FFB243; }

.heading-4 {
  font-size: 2.4rem;
  font-family: JosefinSans-SemiBold; }

.heading-5 {
  font-size: 2.2rem;
  font-family: JosefinSans-SemiBold; }

.p-text {
  font-size: 1.8rem; }

.btn,
.btn:link,
.btn:visited {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  border: none;
  background-image: linear-gradient(to left, rgba(101, 158, 46, 0.9), rgba(140, 181, 96, 0.9));
  color: #fff;
  border-radius: 3px;
  padding: 1.5rem 2rem;
  display: inline-block;
  box-shadow: 0 0.5rem 2rem rgba(89, 136, 43, 0.1);
  transition: all .5s;
  cursor: pointer; }

.btn-text {
  color: #FEBD00;
  font-size: 1.6rem; }

.mb-smaller {
  margin-bottom: 1rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 6rem; }

.header {
  height: 100vh;
  position: relative; }
  .header__content {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    max-width: 114rem;
    min-width: 114rem;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); }
    @media only screen and (max-width: 75em) {
      .header__content {
        padding: 0 5rem; } }
  @media only screen and (max-width: 62.5em) {
    .header__left {
      grid-column: 1 / -1; } }
  @media only screen and (max-width: 62.5em) {
    .header__right {
      display: none; } }
  .header__img {
    height: 52rem;
    width: 52rem; }
    .header__img img {
      height: 100%;
      width: 100%; }
  .header__form {
    display: grid;
    grid-template-columns: 80% 1fr;
    grid-gap: 2rem;
    margin-top: 5rem; }
  .header__input {
    background-color: #fff;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.07);
    padding: 1.5rem 2rem;
    font-size: 1.8rem;
    border: none;
    outline: none;
    border-radius: 3px; }
    @media only screen and (max-width: 37.5em) {
      .header__input {
        grid-column: 1 / -1; } }
  .header__btn {
    cursor: pointer;
    box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.07); }
    @media only screen and (max-width: 37.5em) {
      .header__btn {
        grid-column: 1 / -1;
        width: 100%; } }
  .header__text {
    font-size: 1.8rem;
    font-weight: 500; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 0; }
  @media only screen and (max-width: 37.5em) {
    .nav {
      padding: 4rem 5rem; } }
  .nav .logo-box {
    position: relative; }
    .nav .logo-box .logo {
      font-size: 4rem;
      font-weight: 700;
      color: #000;
      font-family: JosefinSans-Bold; }
    .nav .logo-box img {
      height: 1.6rem;
      width: 1.2rem;
      position: absolute;
      top: .8rem;
      left: 29%; }
  @media only screen and (max-width: 50em) {
    .nav__list {
      display: none; } }
  .nav__item {
    display: inline-block; }
    .nav__item:not(:last-child) {
      margin-right: 2.5rem; }
  .nav__link:link, .nav__link:visited {
    font-size: 2rem;
    color: #8D8D8D;
    transition: all .3s; }
    .nav__link:link:hover, .nav__link:visited:hover {
      color: #000; }
  .nav .active {
    color: #000; }
  .nav__cart {
    position: relative; }
    .nav__cart--active {
      height: .5rem;
      width: .5rem;
      background-color: #FF0E0E;
      border-radius: 50%;
      position: absolute;
      top: -.1rem;
      right: -.1rem; }

.responsive-manu {
  display: none; }
  @media only screen and (max-width: 50em) {
    .responsive-manu {
      display: block; } }
  .responsive-manu__input {
    display: none; }
  .responsive-manu__input:checked ~ .responsive-manu__list {
    transform: translateX(0); }
  .responsive-manu__button {
    position: absolute;
    top: 4rem;
    right: 2rem;
    background-color: #FEBD00;
    color: #fff;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 6; }
  .responsive-manu__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15rem;
    background-image: linear-gradient(to bottom, rgba(101, 158, 46, 0.99), rgba(140, 181, 96, 0.99));
    width: 40%;
    height: 100%;
    position: absolute;
    transform: translateX(100%);
    top: 0;
    right: 0;
    z-index: 5;
    transition: all .5s; }
    @media only screen and (max-width: 37.5em) {
      .responsive-manu__list {
        width: 100%; } }
  .responsive-manu__item:not(:last-child) {
    margin-bottom: 1.5rem; }
  .responsive-manu__link {
    font-size: 2.4rem;
    color: #fff;
    padding: .8rem 2.5rem;
    display: block;
    transition: all .5s; }
    .responsive-manu__link:hover {
      color: #FEBD00; }

.footer-section {
  padding: 8rem 0;
  position: relative; }

.footer {
  display: grid;
  grid-template-columns: 1fr repeat(3, max-content);
  grid-gap: 8rem; }
  @media only screen and (max-width: 62.5em) {
    .footer {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); } }
  .footer__left-img, .footer__right-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 18rem;
    height: 15rem; }
    @media only screen and (max-width: 62.5em) {
      .footer__left-img, .footer__right-img {
        display: none; } }
    .footer__left-img img, .footer__right-img img {
      width: 100%;
      height: 100%; }
  .footer__left-img {
    left: -3rem; }
  .footer__right-img {
    right: -3rem; }
  .footer__logo-box {
    width: 7.5rem;
    height: 5rem; }
  .footer__logo {
    width: 100%;
    height: 100%; }
    .footer__logo img {
      width: 100%;
      height: 100%; }
  .footer .p-text {
    font-size: 2.2rem; }

.footer-social__list {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-column-gap: 2rem;
  align-items: center; }

.footer-social__link {
  background-image: linear-gradient(to top, rgba(101, 158, 46, 0.99), rgba(140, 181, 96, 0.99));
  display: inline-block;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px; }

.footer-social__icon {
  height: 2.5rem;
  width: 2.5rem;
  fill: #fff; }

.footer-manu__item:not(:last-child) {
  margin-bottom: 1.2rem; }

.footer-manu__link {
  color: #000;
  font-size: 2.4rem; }

.footer-links__item:not(:last-child) {
  margin-bottom: 1.2rem; }

.footer-links__link {
  color: #000;
  font-size: 2.4rem; }

.footer-contact__item {
  color: #000;
  font-size: 2.4rem; }
  .footer-contact__item:not(:last-child) {
    margin-bottom: 1.2rem; }

.welcome {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem 4rem;
  align-items: center; }
  @media only screen and (max-width: 62.5em) {
    .welcome {
      grid-template-columns: 1fr;
      justify-items: center; } }
  @media only screen and (max-width: 25em) {
    .welcome {
      grid-template-columns: 100%; } }
  .welcome__img {
    height: 100%;
    width: 100%; }
    .welcome__img img {
      width: 100%;
      height: 100%; }

.choose {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 6rem 4rem;
  padding: 2rem 5rem; }
  @media only screen and (max-width: 25em) {
    .choose {
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
      padding: 2rem 0; } }
  .choose__item {
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #F8FBF5;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition: all .5s; }
    .choose__item:hover {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.08);
      border-color: #75A842;
      background-color: #fff; }

.manu-section {
  position: relative; }
  .manu-section .owl-carousel .owl-stage-outer {
    overflow: hidden; }
  .manu-section .owl-carousel.owl-drag .owl-item {
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
    border-bottom: 3px solid transparent; }
  .manu-section .owl-carousel.owl-drag .owl-item.active {
    opacity: 1;
    visibility: visible; }
  .manu-section .owl-carousel.owl-drag .owl-item.active.center {
    border-bottom: 3px solid #75A842; }
  .manu-section .center .manu__center-item {
    display: block; }
    @media only screen and (max-width: 37.5em) {
      .manu-section .center .manu__center-item {
        display: none; } }
  .manu-section .owl-carousel .owl-nav button.owl-next,
  .manu-section .owl-carousel .owl-nav button.owl-prev {
    position: absolute;
    bottom: -5rem;
    background-color: transparent;
    height: 4.5rem;
    width: 4.5rem;
    display: block;
    border: 1px solid #75A842;
    outline: none;
    color: #000;
    transition: all .5s; }
    .manu-section .owl-carousel .owl-nav button.owl-next:hover,
    .manu-section .owl-carousel .owl-nav button.owl-prev:hover {
      background-color: #75A842;
      color: #fff; }
  .manu-section .owl-carousel .owl-nav button.owl-next {
    left: 75rem;
    border-radius: 0 10rem 10rem 0; }
  .manu-section .owl-carousel .owl-nav button.owl-prev {
    left: 65rem;
    border-radius: 10rem 0 0 10rem; }

.manu {
  display: grid;
  grid-template-columns: 29rem 1fr;
  align-items: center; }
  .manu__content {
    padding: 5rem 2rem; }
    @media only screen and (max-width: 62.5em) {
      .manu__content {
        grid-column: 1 / -1; } }
  .manu__item {
    text-align: center;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.05);
    transition: all .5s;
    padding: 2rem;
    border-bottom: 3px solid transparent;
    background-color: #FCFFF8;
    position: relative;
    border-radius: 1rem;
    cursor: pointer; }
  .manu__center-item {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: rgba(255, 255, 255, 0.527);
    height: 62%;
    width: 100%;
    display: none;
    border-radius: 1rem;
    transition: all .5s; }
    .manu__center-item .cart,
    .manu__center-item .heart {
      font-size: 1.8rem;
      color: #000;
      position: absolute;
      top: 40%;
      background-color: #fff;
      height: 4rem;
      width: 4rem;
      border-radius: .5rem;
      display: flex;
      align-items: center;
      justify-content: center; }
    .manu__center-item .cart {
      left: 30%; }
    .manu__center-item .heart {
      right: 30%; }
  .manu__price-main {
    font-size: 2.2rem;
    color: #75A842; }
  .manu__price-descount {
    font-size: 1.4rem;
    text-decoration: line-through; }

.manu-nav {
  z-index: 2;
  position: relative;
  background-color: #fff; }
  @media only screen and (max-width: 62.5em) {
    .manu-nav {
      grid-column: 1 / -1; } }
  .manu-nav__list {
    display: inline-block; }
    @media only screen and (max-width: 62.5em) {
      .manu-nav__list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15rem, min-content));
        grid-gap: 2rem 1rem;
        justify-content: center; } }
  .manu-nav__item {
    display: block;
    position: relative;
    border-left: 3px solid #EBEBEB; }
    @media only screen and (max-width: 62.5em) {
      .manu-nav__item {
        display: inline-block; } }
  .manu-nav__item::before, .manu-nav__item::after {
    content: "";
    display: inline-block;
    height: 0;
    width: 3px;
    background-color: #FEBD00;
    position: absolute;
    top: 0;
    left: -.2rem;
    z-index: 2;
    transition: all .5s; }
  @media only screen and (max-width: 62.5em) {
    .manu-nav__item::before {
      display: none; }
    .manu-nav__item::after {
      height: 100%;
      width: 0;
      bottom: 0;
      border-bottom: 3px solid #FEBD00;
      background-color: #fff;
      z-index: 1; } }
  .manu-nav__item:hover::before {
    height: 100%; }
  .manu-nav__item:hover::after {
    width: 0; }
  .manu-nav__link:link, .manu-nav__link:visited {
    display: inline-block;
    padding: 1.5rem 2rem;
    color: #000;
    text-transform: capitalize;
    transition: all .5s; }
    @media only screen and (max-width: 62.5em) {
      .manu-nav__link:link, .manu-nav__link:visited {
        text-align: center;
        z-index: 3;
        position: relative; } }
    .manu-nav__link:link:hover, .manu-nav__link:visited:hover {
      color: #FEBD00; }

.history {
  display: grid;
  grid-template-columns: 1fr 56rem;
  grid-gap: 10rem;
  align-items: center; }
  @media only screen and (max-width: 75em) {
    .history {
      grid-template-columns: 1fr;
      justify-items: center; } }
  @media only screen and (max-width: 25em) {
    .history {
      grid-template-columns: 100%; } }
  .history__img {
    background-color: #F8FBF5;
    width: 56rem;
    height: 48rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .history__img img {
      width: 43rem;
      height: 43rem; }

.testimonial {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 2rem;
  grid-row-gap: 6rem;
  margin-top: 8rem; }
  @media only screen and (max-width: 50em) {
    .testimonial {
      grid-template-columns: repeat(2, 1fr); } }
  @media only screen and (max-width: 37.5em) {
    .testimonial {
      grid-template-columns: 1fr; } }
  @media only screen and (max-width: 37.5em) {
    .testimonial__item {
      width: 60%;
      margin: 0 auto; } }
  @media only screen and (max-width: 25em) {
    .testimonial__item {
      width: 100%; } }
  .testimonial__item-2 {
    transform: translateY(-2rem); }
    @media only screen and (max-width: 50em) {
      .testimonial__item-2 {
        transform: translateY(0); } }
  .testimonial__item-4 {
    transform: translateX(16rem) translateY(-2rem); }
    @media only screen and (max-width: 50em) {
      .testimonial__item-4 {
        transform: translateX(0) translateY(0); } }
  .testimonial__item-5 {
    transform: translateX(16rem); }
    @media only screen and (max-width: 50em) {
      .testimonial__item-5 {
        transform: translateX(25rem); } }
    @media only screen and (max-width: 37.5em) {
      .testimonial__item-5 {
        transform: translateX(0);
        justify-self: center; } }
  .testimonial__content {
    box-shadow: 0 0.3rem 3rem rgba(0, 0, 0, 0.07);
    padding: 1.5rem;
    position: relative; }
    .testimonial__content::after {
      content: "";
      display: block;
      height: 2rem;
      width: 2rem;
      background-color: #fff;
      position: absolute;
      bottom: -.8rem;
      left: 3rem;
      transform: rotate(130deg); }
      @media only screen and (max-width: 37.5em) {
        .testimonial__content::after {
          left: 4rem; } }
    .testimonial__content .p-text {
      font-size: 1.4rem;
      color: #8E8E8E;
      font-family: OpenSans-Regular; }

.testimonial__user {
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-gap: 2rem;
  align-items: center;
  padding: 0 1rem; }
  .testimonial__user--name {
    font-size: 1.6rem;
    font-family: OpenSans-SemiBold; }
  .testimonial__user--email {
    font-size: 1.4rem;
    color: #8E8E8E;
    font-family: OpenSans-SemiBoldItalic; }

.news {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 4rem; }
  .news__item {
    width: 100%; }
  .news__img {
    width: 100%; }
    .news__img img {
      width: 100%; }

.subscribe-section {
  position: relative; }
  .subscribe-section .left-img {
    position: absolute;
    top: 8rem;
    left: 10rem;
    width: 6.5rem;
    height: 8rem; }
    .subscribe-section .left-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .subscribe-section .right-img {
    position: absolute;
    bottom: 3rem;
    right: 8rem;
    width: 11rem;
    height: 8rem; }
    .subscribe-section .right-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  @media only screen and (max-width: 62.5em) {
    .subscribe-section .left-img,
    .subscribe-section .right-img {
      display: none; } }

.subscribe__form {
  width: 52rem;
  margin: 0 auto; }
  @media only screen and (max-width: 50em) {
    .subscribe__form {
      width: 100%; } }

.subscribe__input {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  padding: .5rem;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.07);
  border-radius: 10rem; }

.subscribe__email {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 1rem;
  border-radius: 10rem;
  font-size: 1.8rem; }
  .subscribe__email::placeholder {
    color: #B7B7B7; }

.subscribe__btn {
  background: #75A842 url(../img/next-yarrow.png) no-repeat center;
  border-radius: 50%;
  height: 5rem;
  width: 5rem; }

@font-face {
  font-family: 'cookis';
  src: url(fonts/Cookie-Regular.ttf); }

@font-face {
  font-family: JosefinSans-Bold;
  src: url(fonts/JosefinSans-Bold.ttf); }

@font-face {
  font-family: JosefinSans-SemiBold;
  src: url(fonts/JosefinSans-SemiBold.ttf); }

@font-face {
  font-family: Poppins-Medium;
  src: url(fonts/Poppins-Medium.ttf); }

@font-face {
  font-family: OpenSans-SemiBold;
  src: url(fonts/OpenSans-SemiBold.ttf); }

@font-face {
  font-family: OpenSans-Regular;
  src: url(fonts/OpenSans-Regular.ttf); }

@font-face {
  font-family: OpenSans-SemiBoldItalic;
  src: url(fonts/OpenSans-SemiBoldItalic.ttf); }
