@font-face{
    font-family: 'cookis';
    src: url(fonts/Cookie-Regular.ttf);
}

@font-face{
    font-family: JosefinSans-Bold;
    src: url(fonts/JosefinSans-Bold.ttf);
}

@font-face{
    font-family: JosefinSans-SemiBold;
    src: url(fonts/JosefinSans-SemiBold.ttf);
}

@font-face{
    font-family: Poppins-Medium;
    src: url(fonts/Poppins-Medium.ttf);
}

@font-face{
    font-family: OpenSans-SemiBold;
    src: url(fonts/OpenSans-SemiBold.ttf);
}

@font-face{
    font-family: OpenSans-Regular;
    src: url(fonts/OpenSans-Regular.ttf);
}

@font-face{
    font-family: OpenSans-SemiBoldItalic;
    src: url(fonts/OpenSans-SemiBoldItalic.ttf);
}